body {font-size: 12px;background-color: #013300;margin: 0px;padding: 0px;}
td{font-size:12px;}
.headbg{background: no-repeat url(headbg.jpg) left top;}
input,select{margin:0px;padding:0px;}
.bottombg{
	font-size:12px;
	text-align:center;
	color:#525739;
	background: no-repeat url(bottombg.jpg) left top;
	padding-top:10px;
	letter-spacing: 1px;
}
#dao{font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: left;
	padding-left: 10px;
}
#dao a{
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
}
#dao a:hover{
	font-size: 14px;
	color: #FFFF00;
	text-decoration: underline;
}

.tiao{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444442;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DEDCDD;
	font-weight: bold;
	background-color: #C1C9B4;
	padding-left: 5px;
}
.text{
	font-size: 12px;
	line-height: 19px;
	color: #282828;
	text-align: left;
}
#text{
	font-size: 12px;
	line-height: 19px;
	color: #282828;
	text-align: left;
}
#text a{
	font-size: 12px;
	color: #2B2B2B;
	text-decoration: none;
	background-image: url(lettera.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}#text a:hover{
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
	background-image: url(letterh.jpg);
	background-repeat: no-repeat;
	background-position: left center;
}
#topicbg{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	text-align: left;
	padding-top: 2px;
	padding-left: 10px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}
#topicbg a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	text-decoration: none;
}
#topicbg a:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FF0000;
	text-decoration: none;
}
#topicbg a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FF0000;
	text-decoration: underline;
}
#topicbg a:active{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	text-decoration: none;
}
.time{
	font-size: 10px;
	font-weight: bold;
	color: #CCCCCC;
	text-align: left;
	padding: 5px;
}
.logt{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 19px;
	color: #333333;
	text-align: left;
	padding-top: 5px;
	padding-left: 10px;
}
#com{
	font-size: 12px;
	color: #003300;
	text-align: right;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}
#com a{font-size: 12px;color: #003300;text-decoration: none;}
#com a:visited{font-size: 12px;color: #003300;text-decoration: none;}
#com a:hover{font-size: 12px;color: #FF0000;text-decoration: underline;}
#com a:active{font-size: 12px;color: #006600;text-decoration: none;}
#calendar{  
width:150px; color: #B1ADA9
}
#calendar caption {  
font:11px 'Century Gothic', Arial, Helvetica, sans-serif;  color: #B1ADA9
}
#calendar table { 
border-collapse: collapse;color: #B1ADA9
} 
#calendar th{ 
font: normal 12px;  color: #B1ADA9
}
#calendar td {
	text-align:center;
	font-size: 12px;
	border: 1px solid #EEEEEE;
	background-color: #C5C5C5;
}
#calendar td a {
	display:block;
	background-color: #767E50;
	width:16px;
	height:10px;
	color: #FFFFFF;
} 
#calendar td a:hover{ 
background-color: #FFFFFF; 
color: #FF0000;
}
a:link,a:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:hover{font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFF00;
	text-decoration:underline;}
a:active{font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	text-decoration:underline;}
.name{font-size:12px;color:#FFFFFF;}